body {
    background-color: #333;
    padding: 50px;
}

section.colours {
    padding: 1px;
    position: relative;
}

section.colours div.colour {
    font-family: Arial, Tahoma, Helvetica;
    font-size: 12px;
    float: left;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    padding: 10px 20px;
    margin-right: 20px;
    width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    background-color: pink;
}